{% extends "base.html.twig" %}

{% block content %}
<div class="container">
    <br />
    <br />
    <br />
    <div class="span7 offset2">
        <ul class="media-list">
            {% for survey in surveys %}
                {% include "surveys/survey.html.twig" %}
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
