<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Sondages{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{{ request.server.get('base_dir') }}/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="{{ request.server.get('base_dir') }}/css/style.css" />
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      {% include "navbar/search.html.twig" %}
      {% include "navbar/user_actions.html.twig" %}
    </div>
  </div>
</div>
{% block content %}
{% endblock %}

<script src="{{ request.server.get('base_dir') }}/js/jquery.js"></script>
<script src="{{ request.server.get('base_dir') }}/js/bootstrap-alert.js"></script>
</body>
</html>
